Snap Bin Requrements:


1-Track the user Location , and according to that location deside what to show to the user.
----According to the location suggest an offer.
----All Offers are stored in the database as row : The row is consist of columns [offerId , offerSourceName , location ]
2-No Login is required, use the user IP to store his information temporery

